<div class="parent-container"> 
  <button class="kosarica" cButton (click)="toggleModal()" color=" ">
    <c-badge class="badge-position" color="danger" shape="rounded-pill">{{ getTotalItemCount() }}</c-badge>
    <span class="visually-hidden">broj artikala</span>
    <img src="assets/images/cart.png" alt="cart">
  </button>
  <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Pregled košarice</h5>
      <button (click)="toggleModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <ul class="list-group list-group-light">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items; index as i">
          <div class="d-flex align-items-center">
            <img [src]="item.image" [alt]="item.name" style="width: 65px; height: 55px" class="cil-square" />
            <div class="ms-4">
              <p class="fw-bold mb-1">{{ item.name }}</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <button class="btn btn-outline-secondary btn-sm me-2" (click)="decrement(i)">-</button>
            <c-badge color="secondary">{{ item.count }}</c-badge>
            <button class="btn btn-outline-secondary btn-sm ms-2" (click)="increment(i)">+</button>
          </div>
        </li>
      </ul>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleModal()" cButton color="secondary">Zatvori</button>
      <button cButton color="primary">Nastavi na narudžbu</button>
    </c-modal-footer>
  </c-modal>
</div>
<br>
<c-card-group class="mb-4 custom-card-group">
    <c-card>
      <img cCardImg="top" src="assets/images/food.jpg" alt="Food">
      <c-card-body>
        <h5 cCardTitle>Hrana za pse</h5>
        <div style="display: flex; justify-content: center;">
        <button cButton color="dark" variant="outline">Dodaj</button>
        </div>
      </c-card-body>
    </c-card>
    <c-card>
      <img cCardImg="top" src="assets/images/collar.jpg" alt="Ogrlica">
      <c-card-body>
        <h5 cCardTitle>Ogrlica za pse</h5>
        <div style="display: flex; justify-content: center;">
        <button cButton color="dark" variant="outline">Dodaj</button>
        </div>
      </c-card-body>
    </c-card>
    <c-card>
      <img cCardImg="top" src="assets/images/cookies.jpg" alt="Cookies">
      <c-card-body>
        <h5 cCardTitle>Poslastica za pse</h5>
        <div style="display: flex; justify-content: center;">
        <button cButton color="dark" variant="outline">Dodaj</button>
        </div>
    </c-card-body>
    </c-card>
  </c-card-group>

